.cabecalho {
  display: flex;
  width: 100%;
  height: 50px;
  background: linear-gradient(90deg, rgba(0, 210, 155, 0.5), rgba(68, 138, 255, 0.5))
}

.barra-superior {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.container {
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
}

.container:hover .barra-superior {
  background-color: grey;
}

#avatar{
  padding-right: 70px;
  padding-top: 3px;
}

#wallet{
  margin: 50px;
  margin-left: 60px;
  display: flex;
}

.carteira{
  height: 50px;
  width: 50px;
}

#pts{
  margin-left: 15px;
}